<div class="events">
    <div class="events-search">
        <h1>Events Search</h1>
        <div>
            <input type='text' id='event-query' placeholder="search for an event"/>
            <button> Search </button>
        </div>
    </div>
    <div class="events-saved"></div>
</div>
