<div class="gallery">
    <div class="gallery-list"></div>
    <div class="gallery-form">
        <input id="fileupload" type="file" name="fileupload" />
        <button id="upload-button" onclick="uploadFile()"> Upload </button>
    </div>

</div>

<script src="/javascript/gallery.js"></script>